body
  {
    background:  #ffffff;
    font-family: serif;
    line-height: 1em;
  }

p, li
  {
    line-height: 1.7em;
    text-align:  justify;
  }

em
  {
    line-height: 1.7em;
  }

p em
  {
    font-family: serif;
  }

h1, h2, h3, h4
  {
    font-family: sans-serif;
  }
