#btOpen
  {
    -fx-background-image:    url('open32.png');
    -fx-background-repeat:   no-repeat;
    -fx-background-position: center;
  }

.tool-bar .button
  {
    -fx-border-width: 0;
    -fx-background-color:    transparent;
  }