::selection      { background: #3c3c3c; color: #a9a8a5; }
::-moz-selection { background: #3c3c3c; color: #a9a8a5; }

* {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

a {
	transition: all 250ms cubic-bezier(.2,.3,.25,.9);
}
a:hover {
	border-color: #a9a8a5;
	text-decoration: none;
}

.centered { display: table; }
.centered {
	position: relative;
	display: table;
	width: 100%;
}
.centered>* {
	display: table-cell;
	vertical-align: middle;
}

nav {
	position: relative;
	z-index: 1;
}
nav::after {
	content: '';
	display: block;
	clear: both;
	float: none;
}
nav button { display: none; }
nav>ul {
	float: right;
	margin: 0;
	padding: 0;
	list-style: none;
	height: 50px;
}
nav>ul>li {
	float: left;
	position: relative;
	padding-right: 10px;
	color: #fff;
}
nav>ul>li::after {
	content: 'â—';
	display: block;
	position: absolute;
	top: 0;
	left: -1em;
	line-height: 50px;
	font-size: 0.5em;
	opacity: 0.5;
}
nav>ul>li:first-child::after { display: none; }
nav>ul>li a {
	overflow: hidden;
	position: relative;
	display: block;
	height: 50px;
	padding: 0 0.8em;
	line-height: 3rem;
	border-color: transparent;
	color: #fff;
	text-transform: uppercase;
	font-size: 0.8em;
	font-weight: 400;
	letter-spacing: 0.04em;
	line-height: 54px;
}
nav>ul>li.active a { border-color: rgba(255,255,255,0.1); }
nav>ul>li a:hover {
	color: rgba(255,255,255,0.6);
	border-color: rgba(255,255,255,0.5);
}
@media (max-width: 600px) {
	nav>ul {
		float: none;
		text-align: center;
		width: 100%;
	}
	nav>ul>li {
		float: none;
		padding: 0;
		display: inline-block;
	}
	nav>ul>li a { display: inline-block; }
	nav>ul>li::after { left: -0.5em; }
}

.rainbow {
	position: relative;
	width: 100%;
	z-index: 0;
	background: #797875;
	overflow: hidden;
	transition: background-color 1s;
	-webkit-perspective: 400px;
	   -moz-perspective: 400px;
	    -ms-perspective: 400px;
	     -o-perspective: 400px;
	        perspective: 400px;
	-webkit-transform-style: preserve-3d;
	   -moz-transform-style: preserve-3d;
	    -ms-transform-style: preserve-3d;
	     -o-transform-style: preserve-3d;
	        transform-style: preserve-3d;
}
.rainbow .bg {
	z-index: -1;
	position: absolute;
	max-width: 100%;
	width: 100%;
	height: 100vh;
	background-image: url(letters.png);
	background-size: 1000px;
	background-position: -20px -5px;
	opacity: 0.03;
}
.rainbow.intro .bg{
	-webkit-animation: intro 1s ease-out;
	   -moz-animation: intro 1s ease-out;
}
@-webkit-keyframes intro {
	0%   { -webkit-transform: rotate3d(1,0,0,30deg) translate3d(0px,0px,400px);  }
	100% { -webkit-transform: rotate3d(1,0,0,0deg)  translate3d(0px,0.85px,0px); }
}
@-moz-keyframes intro {
	0%   { -moz-transform: rotate3d(1,0,0,30deg) translate3d(0px,0px,400px);  }
	100% { -moz-transform: rotate3d(1,0,0,0deg)  translate3d(0px,0.85px,0px); }
}

.rainbow-static { background-color: #797875; }
.rainbow-static::before {
	content: '';
	z-index: -1;
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: url(letters.png);
	background-size: 500px;
	background-position: -20px -5px;
	transition: background-color 10s;
	opacity: 0.04;
}

footer {
	padding: 100px 30px 30px;
	background-image: url(froggy.png);
	background-position: center 30px;
	background-repeat: no-repeat;
	background-size: 80px auto;
	text-align: center;
}

header {
	height: 80vh;
	color: #fff;
}
header h1 {
	font-weight: 700;
	font-size: 3.5em;
}
header h2 {
	opacity: 0.5;
	font-size: 2em;
}

.short header {
	height: 50vh;
	padding: 60px 30px;
}

@media (max-width: 768px) {
	header h1 {
		font-size: 3em;
		text-align: center;
	}
	header h2 { text-align: center; }
}
@media (max-width: 480px) { header h1 { font-size: 2.3em; } }

.wrapper>* {
	max-width: 1024px;
	margin: 0 auto;
	padding: 0 30px;
}
.wrapper nav {
	top: 30px;
	margin-bottom: 30px;
}
@media (max-width: 480px) { .wrapper nav { padding: 0 10px; } }

.notice {
	display: none;
	position: fixed;
	z-index: 9999;
	bottom: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
	padding: 1em;
	line-height: 1em;
	background: #333;
	color: #ccc;
	text-align: center;
}
.notice a { border-bottom: 2px solid rgba(255,255,255,0.1); }
.notice a:hover {
	color: #ddd;
	border-color: rgba(255,255,255,0.2);
}
.notice::before {
	content: '';
	z-index: -1;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url(letters.png);
	background-size: 500px;
	background-position: -20px -5px;
	opacity: 0.1;
}
.notice span {
	display: inline-block;
	width: 24px;
	height: 24px;
	line-height: 24px;
	border-radius: 15px;
	background: rgba(255,255,255,0.2);
	color: rgba(255,255,255,0.5);
	font-weight: bold;
	font-size: 12px;
	text-align: center;
	margin-left: 6px;
	cursor: pointer;
}
.notice span:hover {
	background: rgba(255,255,255,0.9);
	color: #333;
}

.navbar {
        background-color: grey;
}

.aloha-3d {
        background-color: grey;
}

ul.dropdown-menu {
        background-color: grey;
}